.Header-Container{
    min-height: 45px;
    width:100%;
}

.Chat-Header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    min-height: 45px;
    width:100%;
    border-bottom: 1px #cdd0d1 solid;
    line-height: 0.2;
    padding: 0px 19px 0px 19px;
    z-index: 1;
}

.Status-Container{
    /*margin-top: 0;*/
    /*float:right;*/
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.Title-Name{
    font-weight: 600;
    font-size: 20px;
    color: #4155ac;
    /*font-family: "Fira Sans", sans-serif;*/
}

.Users-Online{
    font-weight:700;
    margin-left: 5px;
    color:#4155ac;
}

.Divider{
    background-color: #cdd0d1;
    width: 1px;
    min-height: 26px;
    margin: 4px 15px 0px 15px;
}

.Friends-Online{
    font-weight: 300;

}

.Account{
    display:flex;
    justify-content: space-between;
    /*min-width: 70px;*/
    /*min-width setup at chatroom's p tag'*/

}

.Account-Name{
    min-width: 70px;
}
.Logout{
    width:17px;
    height:17px;
    margin: 8px 20px 0px 10px;
}


